<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test">
    <listeners>
        <listener class-name="com.rioliu.test.reporting.ExtentReportListener" />
        <listener class-name="com.rioliu.test.base.AbstractTestBase"/>
    </listeners>
 
    <test name="Sample Test1" preserve-order="true">
        <classes>
            <!-- <class name="com.rioliu.test.RESTfulAPITest"/> -->
            <!-- <class name="com.rioliu.test.WebDriverTest"/> -->
            <!-- <class name="com.rioliu.test.SSHClientTest"/> -->
        </classes>
    </test>
    
</suite>